[Unit]
 Description=Task Manager Dashboard
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/task-manager
 Type=idle
ExecStart=/home/mnalavadi/.local/bin/uv run python -m src.app
User=mnalavadi

 [Install]
 WantedBy=multi-user.target
 